body {
  height: 100vh;
  text-align: center;
  background: #fffffe;
  font-family: bahnschrift;
  margin: auto;
  overflow: hidden;
}

h1 {
  color: #B11F22;
  text-transform: uppercase;
  font-size: 50px;
  text-shadow: 1.5px 1.5px  black, -1.5px -1.5px black;
}

.big-and-bold {
  font-size: 48px;
  font-weight: 400;
  transition: all 2s;
  transform: rotate(720deg);
}

footer {
  height: 50px;
  background-color: #B11F22;
  position: absolute;
  bottom: 0;
  width: 100%;
}
